@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fixedPosition($t, $b, $r, $l) {
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin blur($amt) {
  backdrop-filter: blur($amt);
  -webkit-backdrop-filter: blur($amt);
}

* {
  margin: 0;
  font-family: Inter, sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  --background-color: rgba(139, 172, 255, 0.1);
  --background-color-hover: rgba(198, 214, 255, 0.24);
  --background-color-hover-intense: rgba(198, 214, 255, 0.317);
  --border: 1px solid rgba(151, 158, 255, 0.3);
  --border-hover: 1px solid rgba(151, 158, 255, 0.588);
  --accent: rgba(175, 198, 255, 0.798);
  --accent-hover: rgb(172, 195, 255);
}

html,
body {
  @include size(100vw, 100vh);
  overscroll-behavior-y: none;
  overflow: hidden;
  z-index: -1;
}

body {
  background: #000020;
  @include flex;
}

::-webkit-scrollbar {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--background-color-hover);

  &:hover {
    background: var(--background-color-hover-intense);
  }
}

canvas {
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 1;
}

#canvas2 {
  z-index: -2;
  opacity: 0.5;
  pointer-events: none;
}

code {
  padding: 2px;
  font-family: monospace;
  background: var(--background-color);
}

code * {
  font-family: monospace;
}

#controls {
  @include size(calc(225px + 20%), 100%);
  @include blur(20px);
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9;
  background: var(--background-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.5s cubic-bezier(0.04, 0.91, 0.54, 0.99);
  border: var(--border);
  border-right: 0;
  overflow: hidden;

  .inner {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    transition: 0.5s cubic-bezier(0.04, 0.91, 0.54, 0.99);
    padding: 30px;

    > div {
      padding: 10px;
      border-top: var(--border);
    }
  }

  #minimize {
    transition: 0.5s;
    position: absolute;
    text-shadow: 0 0 10px black;
    top: 10px;
    left: 10px;
    padding: 2px;
    line-height: 17px;
    cursor: pointer;
    z-index: 10;
    font-weight: 200;
    border-radius: 20px;
    height: 20px;
    font-size: 30px;

    &:hover {
      border: var(--border-hover);
    }
  }

  &.hidden {
    transform: translateX(100%);
    overflow: visible;
  }

  &.hidden #minimize {
    left: -30px;
    transform: rotate(495deg);
  }
}

button {
  padding: 10px 13px;
  border: var(--border);
  border-radius: 10px;
  transition: 0.2s;
  margin-bottom: 5px;
  cursor: pointer;
  background: var(--background-color);
}

button:hover {
  border: var(--border-hover);
  background: var(--background-color-hover);
  transform: translateY(-1px);
}

#controls p {
  margin: 5px;
}

hr {
  margin: 15px 6px;
  border: 0;
  height: 1px;
  background: var(--background-color);
}

h2 {
  font-weight: 200;
  font-size: 25px;
}

form {
  position: fixed;
  bottom: 0;
  transition: 0.2s;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(53, 54, 124, 0.959);
  @include flex;
  flex-direction: column;
}

form button {
  font-size: 20px;
}

form input {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}

form p#close {
  font-size: 30px;
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  margin: 10px;
}

form p#close:hover {
  transform: scale(1.1);
}

.form-hidden {
  opacity: 0;
  transform: translateY(10px);
}

.banner {
  margin: 20px;
  transition: 0.3s;
  position: absolute;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  bottom: 0;
  padding: 10px;
  background: rgba(25, 39, 82, 0.4);
  border: var(--border);
  border-radius: 10px;
}

.banner a {
  font-size: 12px;
  opacity: 0.7;
  margin: 0 5px;

  &:hover {
    opacity: 1;
  }
}

[construction] {
  position: relative;
  overflow: hidden;

  &:after {
    @include blur(3px);
    @include fixedPosition(0, 0, 0, 0);
    @include flex;
    position: absolute;
    content: "Under construction";
    font-weight: 900;
    font-family: "Bevan", "Rockwell", "Impact", sans-serif;
    cursor: not-allowed;
    background: rgba(30, 38, 105, 0.938);
    border-radius: 10px;
    border: 2px dashed rgba(55, 65, 211, 0.9);
  }
}

#modalOverlay {
  @include fixedPosition(0, 0, 0, 0);
  @include flex;
  @include size(100vw, 100vh);
  position: fixed;
  flex-direction: column;
  background: 0;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  pointer-events: none;
  z-index: 10;
  transition: 0.5s;
}

#modalOverlay.showing {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  pointer-events: all;
}

.modal {
  transition: 0.5s;
  transform: translateY(20px);
  display: block;
  padding: 40px;
  max-height: 90vh;
  overflow-y: scroll;
  min-width: 300px;
  position: relative;
  opacity: 0;
  border-radius: 20px;
  background: var(--background-color);
  border: var(--border);

  h1 {
    margin: 10px;
  }
}

.modal #close {
  font-size: 27px;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  cursor: pointer;
}

.modal.showing {
  transform: translateY(0px);
  opacity: 1;
}

.modal .preset {
  padding: 20px;
  background: var(--background-color);
  border: var(--border);
  max-height: 90vh !important;
  border-radius: 20px;
  margin: 10px;

  h1 {
    font-size: larger;
    margin: 0;
  }
}

.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin: 10px;
  border-radius: 10px;
  background: var(--background-color);
  border: var(--border);
  padding: 10px;
  z-index: 11;
  color: white;
  transform: translateY(10px) translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  animation: show-toast 0.5s;
  font-size: 25px;
  backdrop-filter: blur(14px) opacity(0);

  &.showing {
    opacity: 1;
    backdrop-filter: blur(14px) opacity(1);
    transform: translateX(-50%);
    left: 50%;
  }

  &.error {
    background: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.5);
  }

  &.success {
    background: rgba(60, 255, 0, 0.2);
    border: 1px solid rgba(60, 255, 0, 0.5);
  }
}

@keyframes show-toast {
  from {
    transform: translateY(-10px) translateX(-50%);
    opacity: 0;
  }
}

textarea,
[type="text"] {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-family: monospace;
}

[type="checkbox"] {
  display: inline-block;
}

[beta] {
  &::after {
    content: "BETA";
    margin-left: 5px;
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0, 132, 255, 1), 0 0 10px rgba(0, 132, 255, 1);
  }

  [type="checkbox"] {
    display: inline-block;
  }

  [beta] {
    &::after {
      content: "BETA";
      margin-left: 5px;
      padding: 4px 6px;
      font-size: 12px;
      border-radius: 30px;
      box-shadow: 0 0 10px 10px rgba(0, 130, 255, 0.2);
      font-weight: 700;
      background: rgba(0, 130, 255, 0.8);
    }
  }
}

.quickActions {
  border: var(--border);
  background: var(--background-color);
  padding: 0px;
  border-radius: 20px;
  backdrop-filter: 20px;
  transition: 0.5s cubic-bezier(0.04, 0.91, 0.54, 0.99);
  bottom: 20px;
  overflow: hidden;
  position: fixed;
  right: 20px;
  z-index: 9;
  display: flex;

  &.hidden {
    transform: translateX(120%);
  }

  a {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

/* Custom checkbox styles! */
input[type="checkbox"] + label {
  cursor: pointer;
  font-size: 90%;
}

input[type="checkbox"] {
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--background-color);
  /* Not removed via appearance */
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border: var(--border);
  margin-right: 5px;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.5em 0.5em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  background: var(--background-color-hover);
  border: var(--border-hover);
}

input[type="checkbox"]:focus {
  outline: 1px solid currentColor;
}

/* Custom range slider styles! 
https://www.w3schools.com/howto/howto_js_rangeslider.asp */

/* The slider itself */
input[type="range"] {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 12px;
  border-radius: 50px;
  /* Specified height */
  background: var(--background-color-hover);
  outline: none;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  border-radius: 50%;
  /* Slider handle height */
  background: var(--accent);
  cursor: pointer;
  /* Cursor on hover */
}
input[type="range"]:focus-within ::-webkit-slider-thumb {
  outline: 1px solid white;
  background: var(--accent-hover);
}
input[type="range"]::-moz-range-thumb {
  width: 18px;
  /* Set a specific slider handle width */
  height: 18px;
  /* Slider handle height */
  background: var(--accent-hover);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/********
Speedometer
*********/

#speedometer {
  font-family: monospace;
  position: fixed;
  pointer-events: none;
  bottom: 10px;
  transition: 0.2s;
  left: 10px;
  font-size: 20px;
  z-index: 59;
  &.hidden {
    left: -100px;
  }
}

/****************
* Dropdown Menus *
*****************/

.select-wrap {
  width: fit-content;
  height: fit-content;
  border: 0;
  display: block;
  position: relative;
}

select {
  appearance: none;
  background: var(--background-color);
  border: var(--border);
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 13px;
  cursor: inherit;
  line-height: inherit;
  padding: 7px 9px;
  border-radius: 10px;
  padding-right: 34px;
  transition: 0.2s;
  cursor: pointer;
}

select:hover,
select:focus {
  background: var(--background-color-hover);
  border: var(--border-hover);
}
.select-wrap::before {
  position: absolute;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 3px;
  top: calc(50% - 6px);
  right: 9px;
  transform: rotate(45deg);
  content: "";
}
