* {
    margin: 0;
    font-family: Inter, sans-serif;
    color: white;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overscroll-behavior-y: none;
    overflow: hidden;
}

body {
    background: #000020;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 1;
}

#canvas2 {
    z-index: -2;
    opacity: 0.5;
    pointer-events: none;
}

.banner {
    z-index: 6;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: dodgerblue;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    padding: 10px;

}

.hidden {
    transform: translateY(-100%)
}

#controls {
    top:0;
    background: #111131ef;
    position: fixed;
    right:0;
    max-width:300px;
   //-filter:blur(30px);
    height:100vh;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.4);
    z-index: 30;
    border-radius: 0;
    padding: 20px;
    transition: 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.3);
    #minimize {
        transition: 0.5s;
        position: absolute;
        left:-30px;
        top:10px;
        padding:2px;
        line-height:17px;
        cursor: pointer;
        font-weight:200;
        border-radius: 20px;
        height: 20px;
        font-size:30px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: rgba(255, 255, 255, 0.808);
        background-color: rgba(255, 255, 255, 0.178);
        &:hover {
            background-color: rgba(255, 255, 255, 0.267);
        }
    }
    &.hidden {
        transform: translateX(100%)
    }
    &.hidden #minimize {
        transform: rotate(45deg)
    }
}

button {
    padding: 10px 13px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 0.4s;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.1);
}

button:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}


select *,
select {
    border-radius: 10px;
    padding: 10px;
    display: block;
    background: rgba(255, 255, 255, 0.2)
}

select * {
    color: black;
}

#controls p {
    margin: 5px;
}

hr {
    margin: 6px;
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.342);
}
form {
    position: fixed;
    bottom:0;
    transition: 0.2s;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(53, 54, 124, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form button {
    font-size: 20px;
}
form input {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
}
form p#close {
    font-size: 30px;
    top:0;
    right:0;
    position: absolute;
    cursor: pointer;
    margin: 10px;
}
form p#close:hover {
    transform: scale(1.1)
}
.form-hidden {
    opacity:0;
    transform: translateY(10px)
}